.container
  .profile_top
    %div= link_to 'edit', edit_profile_path
    %div= current_user.email
    %div= link_to 'Logout', destroy_user_session_path, data: {method: 'delete', confirm: 'ok?'}
  .profile_item
    .job
      %p job
      = @profile.job
    .introduction
      %p introduction 
    = @profile.introduction
  = render 'commons/language', languages: @languages