.container
  = form_with(model: @article, url: language_articles_path(@article.language), method: 'post', local: true) do |f|
    .field
      %div
        = f.label :title, 'title', class: 'label'
      %div
        = f.text_field :title, class: 'form'
    .field
      %div
        = f.label :error, 'error message', class: 'label'
      %div
        = f.text_area :error, class: 'form'
    .field
      %div
        = f.label :content, 'content', class: 'label'
      %div
        = f.text_area :content, class: 'form'
    .field
      %div
        = f.label :article_imgs, 'image', class: 'label'
      %div
        = f.file_field :article_imgs, multiple: true, class: 'form'
    .field
      %div
        = f.label :memo, 'memo', class: 'label'
      %div
        = f.text_area :memo, class: 'form'
    .field
      %div
        = f.label :number, 'number', class: 'label'
      %div
        = f.number_field :number, class: 'form'
    = f.submit 'POST', class: 'btn'