.container#article-show{data: {article_id: @article.id}}
  .article_detail
    .article_item
      - if @language.user === current_user
        = link_to 'edit', edit_language_article_path(@language)
      = link_to "#{@language.user.account_name}" , account_path(@language.user.id)
      - if @language.user === current_user
        = link_to 'delete', language_article_path(@language), data: {method: 'delete', confirm: 'ok?'}
    .article_title
      %p Title
      = @article.title
    .article_error
      %p Error
      = @article.error
    -if @article.content.present?
      .answer
        Answer
      .answer_nav.hidden
        .article_content
          %p Answer
          = @article.content
        .article_memo
          %p Memo
          = @article.memo
  .comment
    Comment
  .comments_container.hidden
    .comment_form
      = text_area_tag :comment_content, '', class: 'comment_text'
    .comment_post
      AddComment
    .comment_nav
      %p.comment_view コメント一覧
= javascript_pack_tag 'article'
= javascript_pack_tag 'comment'