- languages.each do |language|
  = link_to language_articles_path(language) do
    .language_nav
      .language_item
        = language.language
      .language_item
        = language.title
        - if current_user === language.user
          %div
            = link_to 'delete', language_path(language), data: {method: 'delete', confirm: 'ok?'}
            = link_to 'edit', edit_language_path(language)