!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PgApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
  %header.header
    .header_left
      - if !current_page?(root_path)
        = link_to :back do
          .header_back
            <
      = link_to 'App', root_path
    - if user_signed_in?
      .header_right
        = link_to 'Timeline', timeline_path
      .header_sub.hidden
        All
      .timeline_sub.hidden
        Followings
    - else
      .header_item
        = link_to 'Sign up', new_user_registration_path
  - if flash.present?
    .flash
      - flash.each do |key, value|
        %div{:class => key}
          = value
  = yield
